@media only screen and (min-width: 1440px) {
    .h-bg-top, .h-book {background-size:cover}
    }
    
    @media only screen and (max-width: 1180px) {
    .container {width:auto;padding:0px 20px;}
    .container2 {width:auto;padding:0px 20px;}
    .h-main {background:none}
    .owl-buttons, .tp-weather {display:none!important}
    .h-forum-top a {font-size:13px}
    .tp-1 {text-align:center}
    .tp-1 .logo {float:none;margin-right:0px}
    .h-menu li a {font-size:11px}
    .h-top, .h-bread {margin:0px 20px}
    .container-nopad {padding:0px}
    
    }
    
    @media only screen and (min-width: 1190px) {
    .h-menu {display:block!important}
    }
    
    /***** Standard 960px *****/
    
    @media only screen and (max-width: 960px) {
    .owl-slider {margin-bottom:40px}
    .tp-2 {position:absolute;right:20px;top:0px}
    .tp-2 a {font-size:22px}
    .h-menu-button {display:inline-block!important;position:absolute;top:27px;left:20px;cursor:pointer;font-size:24px;color:#b9d1e4}
    .h-menu-hidden {display:block !important}
    .h-menu {display:none;background:#000;line-height: normal!important;height:auto;z-index:9;position:absolute;top:72px;left:0px;right:0px;overflow:auto}
    .h-menu * {line-height: normal!important;text-align:left!important}
    .h-menu ul, .h-menu li {display:block !important;padding:0px!important;margin:0px!important;}
    .h-menu li {border:0px;border-top:1px solid rgba(255,255,255,0.1)}
    .h-menu li:first-child {border-top:0px}
    .h-menu ul {visibility:visible!important;position:static!important;opacity:1!important;background:none!important;box-shadow:none!important;border-top:none!important}
    .h-menu li ul {border:0px;border-top:1px solid rgba(255,255,255,0.1)!important}
    .h-menu ul ul li {padding-left:30px!important}
    .h-menu .uWithSubmenu:after {display:none!important}
    .h-menu li a, .h-menu li ul a, .h-menu li a:hover, .h-menu li ul a:hover  {color:#fff!important;padding:20px 20px!important;display:block!important;background:none!important;}
    .h-menu li a:after {display:none!important}
    .h-menu-lk {border-top:1px solid rgba(255,255,255,0.1)}
    .h-top, .h-bread {display:none}
    .tp-over {position:absolute;top:0px;left:0px}
    .tp-intro {padding-bottom:-0px;padding-top:70px}
    .tp-logo img {height:40px}
    .h-cpage-tab, .h-cpage-left, .h-cpage-right {display:block;width:auto;padding:0}
    .h-cpage-left {margin-bottom:30px}
    .h-block {border-left:0px;padding-left:0px}
    .h-pages, .h-content, .h-sidebar {display:block;width:100%}
    .h-sidebar {padding-top:30px}
    .top-pad {padding-top:30px}
    .h-mtr-title2 {padding-top:30px;font-size:21px}
    .forum-box .gTableSubTop,.forum-box .forumThreadTd,.forum-box .forumPostTd,.forum-box .forumLastPostTd,.forum-box .threadIcoTd,.forum-box .threadPostTd,.forum-box .threadViewTd,.forum-box .threadAuthTd,.forum-box .threadLastPostTd,.forum-box .legendTable,.forum-box .fFastSearchTd,.forum-box .fFastNavTd,.forum-box .funcBlock,.forum-box .userRights,.forum-box .forumNamesBar{display:none;}
    .forum-box .gTableTop {padding:10px 20px;}
    .forum-box .postTable,.forum-box .postTable tbody,.forum-box .postTable tr,.forum-box .postTable td {display:block;width:auto!important;}
    .forum-box td.postBottom,.forum-box td.postTdInfo {display:none;}
    .forum-box .postTdTop {text-align:left;height:auto;line-height:normal;font-size:13px;padding:10px 20px;border-bottom-width:1px;}
    .forum-box .postTdTop + .postTdTop {padding:10px 20px;border-bottom-width:2px;font-size:11px;font-weight:normal;}
    .forum-box .postTdTop + .postTdTop:before {content:'';width:0;height:0;background:none;border-top:7px solid #dbe1e8;border-left:7px solid transparent;border-right:7px solid transparent;position:absolute;bottom:-9px;left:20px;}
    #toolbarMainContainer, .tp-banner {display: none;}
    #puzadpn {display:none!important;}
    .forumIcoTd {padding:0px !important;padding-top:20px!important;vertical-align:top}
    .threadNametd {border-right:1px solid #dbe1e8}
    .hpr-activity, .hpr-top-right {display:none}
    .hpr-top {padding-top:90px;padding-left:30px}
    .hpr-line span {margin-bottom:8px;display:block;float:none}
    .searchQueryFl {width:200px !important}
    .logo-promo {font-size:28px}
    .h-mtr-title {padding-right:0px}
    .h-lk {display:none}
    .h-menu-lk {display:block!important}
    .col4,  #content4 .list-item, #content3 .list-item {width:48.717948717949% !important}
    #content3 .list-item:nth-child(3n) {margin-right: 2.5%!important;}
    .col4:nth-child(2n), #content4 .list-item:nth-child(2n), #content3 .list-item:nth-child(2n), #content3 .list-item:nth-child(4n) {margin-right:0 !important}
    #content3 .list-item:nth-child(2n+1) {clear: left!important;}
    #content3 .list-item:nth-child(4n+1) {clear: left!important;}
    #content3 .list-item:nth-child(3n+1) {clear: none!important;}
    .h-block {width: 48.717948716%;box-sizing: border-box;margin-right: 2.5%;float: left;}
    .h-block:nth-child(2n) {margin-right:0px}
    }
    
    @media only screen and (max-width: 640px){
    .owl-slider {margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #000}
    .h-cover, .h-top, .h-contact-desc, .h-share-title {display:none}
    .h-share {text-align:left}
    .h-bg-top {height:auto!important;min-height: inherit!important;padding:40px 20px;padding-bottom:20px;background:#fff}
    .h-photo-mtr .hb-section {display:none}
    .h-book {background:#e4e8eb;padding:50px 20px;height:auto}
    .h-b-title {font-size:21px}
    .h-b-more {margin-top:10px}
    .h-portf {width:50%}
    .h-mtr-full {width:100%;float:none;margin:0px}
    .tp-logo {float:none}
    .h-services {padding-top:0px}
    .h-services-tab, .h-services-col {display:block;width:100%;padding:0px}
    .h-services-col, .h-footer-col1, .h-footer-col2, .h-aboutus-left {margin-bottom:30px}
    .h-footer-tab, .h-footer-col1, .h-footer-col2, .h-footer-col3, .h-aboutus-tab, .h-aboutus-left, .h-aboutus-right, .h-a-point, .h-mtr-tab, .h-mtr-img, .h-mtr-right{display:block;width:100%;padding:0px;float:none}
    .h-mtr-right {padding-top:20px}
    .item-cat {top:20px!important;left:20px!important}
    .item-title {top:50px!important;left:20px!important;font-size:16px!important;width:75%}
    .h-counter-one, .h-contact-form {display:block;width:auto}
    .h-contact-form {padding-bottom:42px}
    .h-contact-social {position:static;margin-top:4px;margin-bottom:8px}
    .eMessage img,.eText img {width:100%!important;float:none;margin:0 0 20px!important;}
    .uTable tr td:first-child + td ~ td,#thread_search_form,#forum_filter,#thread_search_form {display:none;}
    .uTable .user_avatar img {width:50px;}
    #uEntriesList .uEntryWrap {width:50%!important;}
    span[id^=iCode] {display: block;padding-left: 38px;}
    .forum-search {display: block;}
    .shop-tabs {border-bottom: 0!important;}
    .shop-tabs li {border-bottom: 1px solid #A7A6A6 !important;}
    .shop-info {clear: both;}
    .catalog td.catalog-item {display: block !important;width: 100% !important;overflow: hidden!important;}
    td.shop-itempage-images {width: inherit !important;display: block;text-align: center;}
    td.shop-itempage-images #ipreview {display: block;margin: 0 auto 10px;}
    .shop-itempage-images + td {display: block;}
    .h-top-link {display:none!important}
    .forum-post-tab {margin-top:30px}
    .forum-post-left, .forum-post-right {display:block;width:auto}
    .forum-post-left {text-align:left}
    .postAvatar, .numposts, .reputation, .fpb-awards, .postRankIco, .userBan {display:none}
    .col2, .col3, .col4, #content3 .list-item, #content4 .list-item, .h-block {margin-right:0!important;display:block;width:100%!important;float:none!important;margin-bottom:30px}
    .h-block {margin-bottom:0px}
    .uauth-links-set1 {font-size:0px}
    .h-mtr-det {font-size:15px}
    .h-bread  {display:none}
    }
    
    
    @media only screen and (max-width: 480px) {
    #uNetRegF tr td:first-child {max-width:20%!important;white-space:normal!important;font-size:11px;}
    #uNetRegF #fAvatar,#uNetRegF #fAvatarU {display:block;margin:0 0 3px;}
    #uNetRegF #fAvatarU + input {position:relative; margin:0 0 0 -10px;}
    .uNetDescr {font-size:9px;}
    #fTerms {float:left;margin:2px 10px 10px 0;}
    #fTerms+label {font-size:11px!important;vertical-align:top}
    #fTerms~div {font-size:9px;padding:10px 0 0;}
    .copy {font-size:9px;}
    .calendarsTable,.calendarsTable > tbody,.calendarsTable > tbody > tr,.calendarsTable > tbody > tr > td {display:block;width:100%;}
    #content .calTable {width:100%;margin:0 0 20px;}
    #content .calMonth {text-align:left;text-transform:uppercase;}
    .posttdMessage {padding:10px 10px 30px;}
    .fNavLink {font-size:11px;position:relative;margin:0 -3px;}
    .codeButtons,.smilesPart {display:none;}
    #message {max-width:97%;}
    .postUser {font-size:14px;}
    #frM53 .gTableLeft,#frM53 .gTableRight {display:block;width:auto!important}
    .opt_vals td {display:table-cell!important;}
    .opt_items {max-width:97%;}
    #uEntriesList .uEntryWrap {width:100%!important;}
    .manTable td #idAreaoEditbrief td,.manTable td #idAreaoEditmessage td,.manTable td #idAreaoEditdscr td {display:table-cell;}
    }
    
    @media only screen and (max-width: 360px) {
    .eTitle {font-size:20px;}
    }